/* Add padding to containers */
.sign-up {
  align-content: center;
  background-color: white;
  box-sizing: border-box;
  display: grid;
  margin: 0 auto;
  padding: 10px;
  width: 60%;
  margin-top: 30px;
}

form.sign-up {
  display: flex;
  flex-direction: column;
}

/* Full-width input fields  */
form.sign-up input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}

form.sign-up input:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
button.btn-sign {
  background-color: #AC3B61;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: fit-content;
  opacity: 0.9;
  border-radius: 5px;
}

.btn-sign:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}