.guest-counter-table {
    margin: 5px auto;
    align-items: center;
}

#tr-head {
    color: white;
    background-color: #2B7A78;
}

tr.table-total th {
    font-weight: bold;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 700px;
    text-transform: capitalize;
    font-size: bold;
}

td,
th {
    padding: 5px;
}

th {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #a1d4d1;
}